body {
    text-align: center;
    background: #00B4DB;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083B0, #00B4DB);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1#titulo {
    color: #fff;
}

.board {
    margin: auto;
    width: 350px;
}

.board button {
    height: 100px;
    width: 100px;
    margin: 0px;
    padding: 0px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 3em;
    border-radius: 30px;
    background: aliceblue;
}

#messages {
    font-size: 30px;
    color: #fff;
    font-weight: 400;
}